---
import BaseLayout from "../layouts/BaseLayout.astro";
import SideNav from "../components/layout/SideNav.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import StackSection from "../components/sections/StackSection.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
import ContactSection from "../components/sections/ContactSection.astro";
---

<BaseLayout>
	<SideNav />
	<main>
		<HeroSection />
		<AboutSection />
		<StackSection />
		<ProjectsSection />
		<ContactSection />
	</main>
</BaseLayout>
